.details_page {
  display: flex;
  gap: 10px;
  img {
    width: 250px;
  }
}
.addition_information {
  margin-top: 20px;
  h4 {
    font-size: 20px;
  }
  nav {
    display: flex;
    gap: 20px;
    > a {
      width: max-content;
    }
  }
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: rgb(71, 114, 255);
  font-weight: 700;
}
